{% extends '@Website/base.html.twig' %}

{% block body %}
    {% block menue %}
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                {# Brand and toggle get grouped for better mobile display #}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url('mainpage') }}">Chilan.de</a>
                </div>

                {# Collect the nav links, forms, and other content for toggling #}
                <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
                    {{ knp_menu_render('WebsiteBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'WebsiteBundle:Menu:knp_menu.html.twig'}) }}
                    {{ knp_menu_render('WebsiteBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'WebsiteBundle:Menu:knp_menu.html.twig'}) }}
                </div>
            </div>
        </div>

    {% endblock %}
    {% block jumbotron %}
        <div class="jumbotron">
            <div class="container">
                <h1>Chilan.de</h1>
                <p>Reinkarnation eines Bloges</p>
            </div>
        </div>
    {% endblock %}
    {% block main %}
        {% block breadcrumb %}
        {% endblock %}
        {% block content %}
    <div class="learn-more">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Travel</h3>
                    <p>From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.</p>
                    <p><a href="#">See how to travel on Airbnb</a></p>
                </div>
                <div class="col-md-4">
                    <h3>Host</h3>
                    <p>Renting out your unused space could pay your bills or fund your next vacation.</p>
                    <p><a href="#">Learn more about hosting</a></p>
                </div>
                <div class="col-md-4">
                    <h3>Trust and Safety</h3>
                    <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
                    <p><a href="#">Learn about trust at Airbnb</a></p>
                </div>
            </div>
        </div>
    </div>
            {% endblock %}
    {% endblock %}
    {% block footer %}
        <div id="preload">
        </div>
    {% endblock %}
{% endblock %}
